
html{
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-color: blueviolet;
    background-size: cover;
    scroll-behavior: smooth;
    height: 5em;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1,
h2,
a{
    text-decoration: none;
    font-family: 'Electrolize', sans-serif;
}

h1{
    font-style: normal;
    font-size: 34pt;
}

h2{
    font-style: normal;
    font-size: 20pt;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
}

.wrapper{
    max-width: 1240px;
    width: 95%;
    margin: auto;
}
/* -----------------logNav---------------- */

.nav{
    text-align: right;
    margin: 15px;
}
.log {
    font-size: 24pt;
    color: #000;
    text-decoration: none;
    text-align: right;
    margin: 25px;
}
.log:hover{
    color: #d61067;
}
/* ----------------Title---------------- */
.logo{
    display: flex;
    width: 20%;
    animation: spin 20s linear infinite;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------Produit---------------- */
.border{
    display: block;
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10pt;
    height: 100%
}
.titreProd{
    position: relative;
    text-align: center;
    padding: 1em 0;
}
.content{
    display: flex;
    padding: 1.25em;
}
.text{
   display: flex;
   position: relative;
   flex-direction: column;
   padding-left: 2.5em;
}
.images{
    width: 50%;
    height: 50%
}
.image{
    width: 50%;
    height: 50%
}
.button{
    background-color: #5affb8;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16pt;
    text-align: center;
    border: solid 2px;
    border-radius: 7pt;
    border-color: #000;
    width: 200px;
}
.button:hover{
    background-color: #ffffff;
    color: #5affb8;
    border-color: #5affb8;
}

.select{
    margin: 0 20em 2em;
}
/* ---------------Info-Lettre---------------- */
.formulaire{
    display: flex;
    justify-content: center;
}

.formulaireLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titreInfo{
    text-align: center;
}

.champ{
    border: solid 1px;
    border-radius: 3pt;
    background-color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 2em;
    width: 700px;
    height: 40px;
    font-size: 17.5pt;
}
.champ2{
    border: solid 1px;
    border-radius: 3pt;
    background-color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 2em;
    width: 700px;
    height: 120px;
    font-size: 17.5pt;
}

.champ3{
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 2em;
    width: 700px;
    height: 40px;
    font-size: 17.5pt;
}
.button2{
    display: block;
    margin: 0 auto;
    background-color: #5affb8;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16pt;
    border: solid 2px;
    border-radius: 7pt;
    border-color: #000;
    width: 300px;
    height: 35px;
}
.button2:hover{
    background-color: #ffffff;
    color: #5affb8;
    border-color: #5affb8;
}

.button4{
    background-color: #5affb8;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16pt;
    text-align: center;
    border: solid 2px;
    border-radius: 7pt;
    border-color: #000;
    width: 20%;
    height: 20%;
    margin-bottom: 1em;
}
.button4:hover{
    background-color: #ffffff;
    color: #5affb8;
    border-color: #5affb8;
}

/* ---------------Blog---------------- */
.titreBlog{
    display: block;
    text-align: center;
}

.blog{
    color: #d61067;
    text-transform: capitalize;
}
.articleBorder{
    display: flex;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2pt;
    height: 100%;
    width: 75%;
}

.articleTexte{
    margin: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
}

.poster{
    margin-left: 6em;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
}
/* ---------------Login---------------- */
.loginleBorder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3em auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2pt;
    height: 100%;
    width: 75%;
}
.logo2{
    display: flex;
    margin: 2em auto;
    width: 20%;
}
.titreLogin{
    text-align: center;
    margin: 0.5em 4.5em;
}

.button3{
    display: block;
    margin: 0 0 2em 9.5em;
    background-color: #5affb8;
    color: #ffffff;
    font-family: 'Electrolize', sans-serif;
    font-size: 16pt;
    border: solid 2px;
    border-radius: 7pt;
    border-color: #000;
    width: 300px;
    height: 35px;
}
.button3:hover{
    background-color: #ffffff;
    color: #5affb8;
    border-color: #5affb8;
}

.comment{
    font-style: italic;
    color: #d82c2e;
    font-size: 12pt;
}
/* -----------------CMS------------------ */
.list{
    display: flex;
    justify-content: center;
    margin: 1em auto;
    text-decoration: none;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 2em;
    padding-left: 4em;
}

/* ---------------Footer---------------- */
.footer{
    margin: 3em 0;
    text-align: center;
}

/* ---------------Animation------------- */
@keyframes spin 
{   0% 
        {   -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
        }
    50%
        {   -webkit-transform: rotate(-128deg); 
            transform:rotate(-128deg); 
        }
    100% 
        {   -webkit-transform: rotate(0deg); 
            transform:rotate(0deg); 
        }
}